@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato;
    font-weight: 300;
    color: #3a3a3a;
}

#header-background {
    height: 80px;
    width: 100%;
    background: rgb(229, 216, 190);
}

/*headings and logo*/

h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: #3a3a3a;
    }

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 150%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
    margin-left: 20px;    
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #fff;
    background-color: #3a3a3a;
}

.active {
    color: #fff;
    background-color: rgba(2, 2, 15, 0.2);
}

/* hero image*/


#cover-text, #cover-text h2 {
    color:rgb(2, 1, 1);
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-yogi3.jpg') no-repeat center center; 
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;

    letter-spacing: 4px;

    width: 300px;
    height: 200px;
    border-radius: 5%;

    padding-top: 40px;
    padding-left: 10px;

    background-color: red;

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/*Output of Yoga*/

#yoga-output {
    height: 400px;
    width: 100%;
}

#yoga-output h2 {
    text-align: center;
}

.left-output {
    padding-top: 20px;
    width: 33%;
    float: left;
    background-color: blue;
    
}

.right-output {
    padding-top: 20px;
    width: 33%;
    float: right;
    background-color: rgb(221, 98, 16);
}

.center-output {
    padding-top: 20px;
    width: 33%;
    margin: 0 auto;
    background-color: rgb(26, 207, 66);
}

/*#yoga-benifits li {
    float: left;
    list-style-type: none;
    width: 30%;
    line-height: 100px;
    margin-left: 500px;
    
}
*/

#explore-more {
    height: 400px;
    width: 100%;
    text-align: center;
    background-color: rgb(236, 230, 203);
}

#acts1 {
    float: left;
    margin-left: 7%;
    margin-top: 2%;
    height: 300px;
    width: 320px;
    background-color: #fff;
    border-radius: 10%;
}

